{% extends '_layout.html' %}

{% block title %}
Upload
{% endblock %}

{% block content %}

<div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="userimage.jpg">
      <div class="media-body">
        <h2 class="account-heading">{{ current_user.username }}</h2>
      </div>
    </div>
</div>

    <form action="{{url_for('users.upload_file')}}" method="POST" enctype="multipart/form-data">

        <label for="user_file">Upload Your File</label>
        <br>
        <input type="file" name="user_file">
        <br>
        <button type="submit">Upload</button>

    </form>

{% endblock %}